#landingPage, #questionPage, #instructionPage, #questionPopUp, #punishmentWheelPage {
    background-color: rgb(159, 159, 255);
    margin: auto;
  padding: 10px;
  border: 5px black solid;
  height: 800px;
  transition-duration: 2s;
}

.instructions {
    overflow: scroll;
}
#selectPlayersPage {
  background-color: cornflowerblue;
  margin: auto;
  height: 1000px;
}
.selectorBtn {
  background-color: indigo;
  color: white
}
/* game board and cards */
.boardContainer {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
#gameBoard {
  position: relative;
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
}
.cardBtn {
  background-color: red;
  width: 12%;
  height: 10%;
  top: 80%;
}
.cardBtn:hover {
  outline: 3px dashed blueviolet;
}

#character1 {
  position: absolute;
  top: 50%;
  left: 1%;
  width: 50px;
}
#character2 {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 50px;
}
/* tutorial of spinner css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.spinnerContainer{
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer #spinBtn {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  border: 4px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
}
.spinnerContainer #spinBtn::before {
  content: '';
  position: absolute;
  top: -20px;
  width: 20px;
  height: 30px;
  background-color: white;
  clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}
.spinnerContainer .wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 0 5px #333, 0 0 0 15px white, 0 0 0 #111;
  transition: transform 5s ease-in-out;
}
.spinnerContainer .wheel .number {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--clr);
  transform-origin: bottom right;
  transform: rotate(calc(45deg * var(--i)));
  clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.spinnerContainer .wheel .number span {
  position: relative;
  transform: rotate(45deg);
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}

.spinnerContainer .wheel .number span::before{
  position: absolute;
  font-size: 0.75em;
  font-weight: 500;

}
/* caroself */
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
}

